@import (css) url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic');
@import (css) url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.border-light {
  border: 1px solid #e0e0e0;
}

.shadow-light {
  -webkit-box-shadow: 0 5px 4px 2px rgba(0,0,0,0.02);
  box-shadow: 0 5px 4px 2px rgba(0,0,0,0.02);
}

.login-form {
  margin-top: 25vh;
  [type=submit] {
    width: 50%;
    margin-left: 25%;
  }
  button.pending > span {
    margin-left: 10px;
  }
}

.full-width {
  width: 100%;
}

.app-navigation {
  font-size: 18px;
  .k-button.k-button-icontext > .fa {
    margin-right: 10px;
  }
}

.login-form-error.k-popup.k-child-animation-container {
  padding: 20px;
  background-color: #d00;
  color: #fff;
  cursor: pointer;
}

.spinner-container {
  padding: 40px;
  text-align: center;
  width: 100%;
}

.nav-user-info {
  position: absolute;
  right: 20px;
  line-height: 12px;
  .fa-user-o {
    margin-right: 10px;
    color: royalblue;
  }
}
